* {
    margin: 0;
    padding: 0;
}

body {
    
    background:linear-gradient(to bottom,#090c31 50%,#e94e4e 50%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist {
    height: 500px;
    width: 400px;
    background-color:rgb(235, 179, 229);
    border-radius: 12px;
    overflow: hidden;
}
.todolist .nav{
    height:100px;
    background-color:#251B37;
    color:rgb(188, 230, 240);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left:5%;
    padding-right:5%;
    font-size:1.5rem;
    font-family:GIlroy;
}
.todolist .nav i{
    font-size:2.2rem;
    cursor: pointer;
}
.todolist .input{
    display:flex;
    height:80px;
    background-color:white;
    display: flex;
    align-items: center;
    width:100%;
}
.todolist .input input{
    width:85%;
    height:80px;
    border:none;
    outline:none;
    font-size:1.5rem;
    padding-left:2%;
}
.list{
    display: flex;
    align-items: center;
    flex-direction:column;
    height:320px;
    overflow:auto;
}
.list li input{
    min-height:30px;
    min-width:30px;
    max-height:30px;
    max-width:30px;
    font-family:Open Sans;
}
.list li{
    display: flex;
    justify-content:space-between;
    width:300px;
    align-items: center;
    font-size:1.3rem;
    font-family:poppins;
    margin-top:5%;
    padding-bottom:3%;
    border-bottom:2px solid #4c3478;
    margin-bottom:2%;
}
.list li i{
    font-size:2rem;
    cursor: pointer;
}
.todolist .input i{
    font-size:2.2rem;
    margin-left:2%;
    padding-right:5%;
    cursor: pointer;
}
.list::-webkit-scrollbar{
    -webkit-appearance:none;
    width:13px;
}
.list::-webkit-scrollbar-track{
    background-color:rgb(31, 19, 86);
}
.list::-webkit-scrollbar-thumb{
    background-color:#251B37;
    border-radius:12px;
}
